body {
    /* border: 3px solid red; */
    color: #ffff;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    background: linear-gradient(#a2d2ff, pink);
}

h1, h2, h4 {
    text-shadow: 0 0 1px black;
}

#bday-age {
    background: rebeccapurple;
    padding: 5px 10px;
    border-radius: 6px;
}

#bday-date {
    background: rebeccapurple;
    padding: 5px 10px;
    border-radius: 6px;
    margin-top: 0px;
}

#header {
    /* border: 3px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

#avatar {
    width: 150px;
    border-radius: 50%;
    border: 3px solid rebeccapurple;
}

#gift-section {
    /* border: 3px solid green; */
    margin-top: 50px;
}

.gift-title {
    margin-bottom: 10px;
}

.cta {
    margin-top: 0px;
}

.gift-img {
    background-image: url(images/gift-cover.jpg);
    background-size: cover;
    width: 400px;
    height: 400px;
    border-radius: 10px;
    border: 5px solid white;
    margin: 0 auto;
}

#img-happy:hover {
    background-image: url(images/happy.gif);
}

#img-hot:hover {
    background-image: url(images/hot.gif);
}

#img-genius:hover {
    background-image: url(images/genius.gif);
}

#img-badass:hover {
    background-image: url(images/badass.gif);
}

#img-cheer{
    height: 200px;
}

#img-cheer:hover {
    background-image: url(images/cheers.gif);
}

#footer {
    font-style: italic;
    width: 450px;
    margin: 40px auto 20px;
}

a {
    color: #ffff;
}