* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    min-width: 709px;
}

.nav-container {
    /* border: 3px solid red; */
    height: 70px;
    display: flex;
    padding: 1.25em 2.25em;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

section {
    padding: 0 2.25em;
}

.hero-container img {
    width: 600px;
    display: block;
    margin: 1.75em auto 2em auto;
}

.hero-container h1,
.hero-container p {
    margin: 0;
    width: 347px;
}

.hero-container h1 {
    font-weight: 600;
    font-size: 2.25rem;
    margin-bottom: 0.45em;
}

.hero-container p {
    font-weight: 300;
    color: #222222;
    
}

.gray {
    color: #918E9B;
}

.bold {
    font-weight: bold;
}

.card-container {
    padding: 4.083em 0em 2.5em 3em;
    width: 175px;
    font-size: 0.75rem;
    flex: 0 0 auto;    /* ADD */
    display: flex;     /* ADD */
    flex-direction: column;    /* ADD */
    position: relative;
}

.card-image {
    border-radius: 9px;
    width: 100%;
}

.card-container p {
    margin: 0;
}

.card-container p:nth-of-type(1) {
    margin: 0.5em 0;
}

.card-stats {
    display: flex;
    align-items: center;
    gap: 2px;
    margin-top: 0.5em;
}

.card-star {
    height: 14px;
}


/* ADD */
.cards-list {
    display: flex;
    padding: 0;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.card-badge {
    position: absolute;
    background-color: #FFFFFF;
    padding: 2px 6px;
    border-radius: 2px;
    font-weight: bold;
    left: 44px;
    top: 55px;
}

.card-title {
    height: 35px;
}